<article class="card">
  <a href="/post/{{id}}">
  <h3 class="card-header">{{title}}</h3>
  <div class="card-body">
    <div> 
      {{contents}}
    </div>
    <div class="meta">
      <i>Posted by {{user.username}} on {{format_date created_at}}</i>
    </div>
  </div>
  </a>
</article>